@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Anton&family=Dancing+Script:wght@400;500;600&family=Kalam:wght@300;400&family=Mandali&family=Patrick+Hand&family=Signika+Negative&display=swap');
* {
    font-family: 'Mandali', sans-serif;
    font-size: medium;
}

.navbar .navbar-brand {
    letter-spacing: 6px;
}

.nav-item .about {
    color: rgb(243, 74, 13);
}

.carItem {
    height: 450px;
}

.car-img {
    height: 100%;
}

.slice {
    font-family: 'Anton', sans-serif;
    color: orangered;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.card-title {
    font-family: 'Anton', sans-serif;
}

.read {
    color: coral;
    letter-spacing: 3px;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.kin {
    font-family: 'Anton', sans-serif;
    color: orangered;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.in {
    font-family: 'Kalam', cursive;
    text-transform: lowercase;
    color: black;
    letter-spacing: normal;
}

.japanImg, .thailandImg, .philImg {
    width: 130px;
    height: 150px;
    border-radius: 50%;
}

.japanTxt, .thailandTxt, .philTxt {
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
}

.knivesAbout {
    font-family: 'Anton', sans-serif;
    color: orangered;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.partner {
    color: orangered;
}

.btn-partner {
    background-color: coral;
}

.footerNav {
    list-style: none;
}

.foot-link {
    text-decoration: none;
    list-style: none;
    color: black;
}

.footer-btn {
    background-color: coral;
    font-family: 'Anton', sans-serif;
    border-radius: 0px;
}

.footer-btn:hover {
    background-color: orangered;
}

.kitchen {
    color: orangered;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    letter-spacing: 6px;
}

.text2C p {
    font-family: 'Kalam', cursive;
    font-weight: 400;
}

.cardCC {
    text-align: center;
    color: black
}

.img2chefs {
    max-width: 300px;
    height: 400px;
}